.dropDown {
    position: absolute;
    color: black;
    background-color: #EEF2E6;
    width: 100px;
    top: 65px;
    border-radius: 10%;
    z-index: 100;
}

.dropDown::before {
    content: ' ';
    position: absolute;
    top: -5px;
    background-color: #EEF2E6;
    z-index: 1;
    width: 15px;
    height: 15px;
    left: 60px;
    transform: rotate(45deg);
}

.menuItem {
    list-style: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    padding: 7px 15px;
}

.menuItem a {
    color: black;
}

.menuItem:hover {
    background-color: white;
}