@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* imageSection */

.cropsImage {
    width: 100%;
    opacity: 80%;
}

.imageSection {
    background-image: url("../../assets/images/homeImage.png");
    background-repeat:no-repeat;
    background-size: 100% 100%;
    text-align: center;
}

.span {
    color:aliceblue;
}

.text {
    font-size: 70px;
    padding: 130px;
    font-family: 'Ibarra Real Nova', serif;
}

/* services */

.ser {
    text-align: center;
    color: #3D8361;
    font-family: 'Ibarra Real Nova';
    font-size: 50px;
    padding: 20px;
}

.mainServices {
    background-color: #F7F6F6;
    padding: 20px 70px 50px 70px;
}

.whatWeDo {
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.105em;
}

.post {
    display: flex;
    flex-direction: row;
}

.postSellBuy {
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    color: #3D8361;
    padding: 25px 0;
    /* text-align: center; */
    font-size: 25px;
    letter-spacing: 0.08em;
}  

.seller {
    padding: 0 40px 0 0;
}

.buyer {
    padding: 0 0 0 40px;
    display: flex;
    flex-direction: column;
}

.postContent {
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    letter-spacing: 0.14em;
    font-size: 20px;
    padding: 0 0 30px 0;
    flex-grow: 1;
}

.btn {
    background-color: #EEF2E6;
    width: 100%;
    height: 50px;
    border: 1.5px solid;
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0.165em;
    cursor: pointer;
}

.btn:hover {
    background-color: #3D8361;
    transition: 0.3s;
} 

/* howItWorks */

.howItWorksText {
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 540;
    font-size: 55px;
    line-height: 132%;
    letter-spacing: 0.22em;
    padding: 0 70px;
}

.list {
    padding: 0 0 20px 90px;
}

.listItem {
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 42px;
    letter-spacing: 0.12em;
}

.signUp {
    color: #3D8361;
}

.signUp:hover {
    cursor: pointer;
}

/* why us */

.whyUs {
    background-color: #F7F6F6;
    padding-bottom: 30px;
}

.whyUsHeading {
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 540;
    font-size: 55px;
    line-height: 132%;
    letter-spacing: 0.22em;
    text-align: center;
    padding: 30px 0 10px 0;
}

.whyUstext {
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-size: 17px;
    padding: 0 50px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.165em;
}

.whyUsList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 70px;
}

.whyUsItem {
    text-align: center;
    padding: 0 20px;
}

.whyUsItem p {
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
}

.whyUsItemImg {
    padding: 40px 0;
}

.whyUsItemHed {
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    padding: 25px 0;
}
